*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.card-container{
    background-color: rgb(255, 255, 255);
    padding: 1% 0%;
}
.card-row{
    width: 90%;
    margin: auto;
}

.card-col1{
    display: flex;
    position: sticky;
    top: 0%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    justify-content: space-between;
    padding: 2% 0%;
}

.card-head{
    border: 1px solid rgb(146, 145, 145);
    border-radius: 20px;
    width: 10%;
    padding: 0.6%;
}
.card-head:hover{
    box-shadow: 0px 0px 10px rgb(228, 227, 226);
}
.card-head p{
    text-align: center;
    color: rgb(80, 79, 79);
    font-size: 0.8em;
}
.card-head p:hover{
    cursor: pointer;
    color: orange;
}
h5{
    padding: 2% 0%;
}


/* card */

.card-col2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card-card{
    width: 21%;
    padding: 3% 0%;
    transition: all 0.3s linear;
}
.card-card:hover{
    transform: scale(0.9);
}
.image{
    width: 100%;
    height: 200px;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px silver;
}
.card-image{
    position: relative;
}
.card-offer{
    position: absolute;
    bottom: 10%;
    left: 7%;
    color: white;
    font-weight:bold;
    font-size: 20px;
}

.card-card h4{
    padding: 3% 3%;
}

.card-rating{
    display: flex;
    padding: 3% 3%;
}

.card-rating i{
    background-color: white;
    padding: 1%;
    border-radius: 50%;
    font-size: 12px;
}

.card-rating p{
    padding: 0% 2%;
}

.card-dish, .card-place{
    padding: 2% 3%;
    color: rgb(124, 123, 123);
}
.card-price{
    padding: 2% 3%;
}

/* header */
header{
    position: sticky;
    top: 0%;
    z-index: 1;
}
.head-container{
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 2px 3px rgb(206, 204, 204);
}

.head-row{
    width: 90%;
    margin: auto;
    display: flex;
}

.head-col1{
    display: flex;
    width: 50%;
}
.head-col2{
    display: flex;
    width: 50%;
    padding: 2% 2%;
}
.head-logo{
    width: 12%;
}

.head-logo img{
    width: 100%;
}

.head-col1 p{
    padding: 4% 2%;
    color: rgb(133, 132, 132);
}
.head-col1 p:hover{
    color: orange;
}
.head-col2 div{
    display: flex;
   width: 20%;
}
.head-col2 div:hover{
    color: orange;
}
.head-col2 div p{
    padding-left: 4%;
}
.head-col2 div p sup{
      color: orange;
}


/* footer */
.foot-container{
    background-color: black;
    padding: 5%;
}

.foot-row{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.foot-col p{
    color: rgb(170, 166, 166);
    padding: 8% 0%;
}

.foot-logo{
    width: 50%;
    height: 10px;
}
.foot-logo img{
    width: 100%;
}

.foot-paras{
    color: white;
    font-size: 1.1em;
    padding: 8% 0%;
}

.foot-col{
    width: 20%;
}
.foot-logopara{
    padding-top: 20%;
}
.foot-logopara p{
    padding: 2% 0%;
}